@mixin button ($color1, $color2) {
    width: 50%;
    background-color: $color1;
    color: $color2;
    font-weight: 800;
    border-radius: 30px;
    padding: 1% 3%;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }

}